*{

margin:0;
padding:0;
-moz-box-sizing:border-box;
box-sizing:border-box;

}


/*sm to md screens*/
@media screen and (min-width:350px) and (max-width:600px){

ul{
	list-style-type:none;
}

#nav-bar{
	display:none;
}

#header{
	display:flex;
	justify-content:space-evenly;
	padding:5px 0 5px 5px;
	align-items:center;
	background-color:#f97e24;
	border:collapse;
	
}

#header>h1{ 
	color:white;
}


#content-grid{
	display:none;
}


.signup-form{
	display:flex;
	flex-direction:column;
	width:80%;
	align-items:center;
	justify-content:center;
	margin:30px auto 30px auto;
	height:90%;
	padding:15px;
	border-radius:10px;
	background-color:f7f1ed;
	
}


#header h1{
	text-align:center;
}

#header-img{
    height:50px;
	width:50px;
	
}

#dropdown-nav{
	display:inline-block;
}

#dropdown-nav img{
	height:50px;
	width:50px;
}	


 #dropdown-content{
	display:none;
	position:absolute;
}

#dropdown-nav:hover #dropdown-content{
	display:block;
	background-color:pink;
	min-width:250px;
	
}



#main-content{

	background-image:url("https://img.freepik.com/premium-photo/man-demonstrating-back-press-exercise-with-barbell-gym-fitness-back-pain-hands-man-gym-training-with-muscle-ai-generated_538213-23771.jpg");
	background-size:cover;
	height:100%;
	padding:50px;
	
}


footer{
	border-top:0.5px solid black;
	padding:25px;
	background-color:#f97e24;

}


footer ul{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-evenly;
	margin-bottom:10px;
}


footer>ul li{
	
		margin: 10px;
		font-weight:bold;
}

#footer-name{
	margin-top:10px;
	font-weight:bold;
	text-align:right;
}
	
}